<div class="container">
  <div class="row">
    <div class="col-7 mx-auto w-100 mt-5">
      <p>
        ながのCAKは全国発送可能なケーキ屋さんです。<br>
        お子様からお年寄りまでお召し上がりいただけるよう、<br>
        様々なバリエーションをご用意しております。<br>
        また、全国へ発送可能なので「いつ」でも「どこ」でもご注文いただけます。<br>
        ぜひご注文ください。
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-8 mx-auto mt-3">
      <%= image_tag 'cake.jpeg', size: "600x300" %>
    </div>
  </div>
</div>
