<h4>
  <span class="bg-secondary">さんの会員情報編集</span>
</h4>

<table>
  <thead>
    <tr>
      <th scope="col">会員ID</th>
      <th scope="col">氏名</th>
      <th scope="col">フリガナ</th>
      <th scope="col">郵便番号</th>
      <th scope="col">住所</th>
      <th scope="col">電話番号</th>
      <th scope="col">メールアドレス</th>
      <th scope="col">会員ステータス</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td><%= @customer.id %></td>
      <td></td>
    </tr>
    <%#= form_with model: @customer do |customer| %>
    <tr>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
    </tr>
    <% end %>
  </tbody>
</table>