<h4>
  <span class="bg-secondary">注文履歴一覧</span>
</h4>

<div class="container">
  <div class="row">
    <div class="mx-auto">
      <table cellpadding="15">
        <thead>
          <tr class="bg-secondary">
            <th class="header1">購入日時</th>
            <th class="header2">購入者</th>
            <th class="header3">注文個数</th>
          </tr>
        </thead>
        <tbody>
        <% @order.each do |order| %>
          <tr>
            <td><%= link_to order.created_at.strftime("%Y/%m/%d %H:%M:%S"), admin_order_path(order.id) %></td>
            <td><%= order.name %></td>
            <td>
              <% order.order_details.each do |order_detail| %>
                <% @amount = order_detail.amount + @amount %>
              <% end %>
              <%= @amount %>
              <% @amount = 0 %>
              </td>
          </tr>
        <% end %>
        </tbody>
      </table>
      <%= paginate @order %>
    </div>
  </div>
</div>