<h4>
  <span class="bg-secondary">商品一覧</span>
</h4>


<div class="container">
  <% @item.each do |item| %>
  <div class="row">
    <div class="col-3">
      <%#= image_tag @item.get_image(300,300) %>
      <%= item.name %><br>
      <%= item.price %>
    </div>
  </div>
  <% end %>
</div>